<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TennisScoreTracker Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>81DA94E42E92B68F00E9CF21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81DA94EA2E92B68F00E9CF21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81DA94F92E92B69000E9CF21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81DA95032E92B69000E9CF21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
